---
meta:
  environment: (( grab genesis.env || params.env ))
  bosh_env: (( grab genesis.bosh_env || params.bosh_env || params.env ))
  cf:
    exodus_path: (( concat "secret/exodus/" meta.environment "/cf" ))
    deployment_name: (( concat meta.environment "-cf" ))
    system_domain: (( vault meta.cf.exodus_path ":system_domain" ))
    api_url:    (( concat "https://api." meta.cf.system_domain ))
    username:   (( vault meta.cf.exodus_path ":admin_username" ))
    password:   (( vault meta.cf.exodus_path ":admin_password" ))

  default:
    rabbitmq_tags:
      - blacksmith
      - dedicated
      - rabbitmq

    rabbitmq_plans:
      standalone:
        name: standalone
        description: A dedicated RabbitMQ server, with no redundancy or replication
        limit: 7
        type: standalone
        vm_type: default

releases:
- name:    rabbitmq-forge
  version: 0.7.5
  url:     https://github.com/blacksmith-community/rabbitmq-forge-boshrelease/releases/download/v0.7.5/rabbitmq-forge-0.7.5.tgz
  sha1:    aafa05bc089b51e8fc204683cd933e9af6cbbef5
  
params:
  releases:
    - (( append ))
    - (( grab releases.rabbitmq-forge ))
  cf_skip_ssl_validation: false

instance_groups:
  - name: blacksmith
    jobs:
      - release: rabbitmq-forge
        name:    rabbitmq-blacksmith-plans
        properties:
          environment: (( grab meta.environment ))
          bosh_env: (( grab meta.bosh_env ))
          cf:
            exodus_path: (( grab meta.cf.exodus_path ))
            deployment_name: (( grab meta.cf.deployment_name ))
            system_domain: (( grab meta.cf.system_domain ))
            api_url:    (( grab meta.cf.api_url ))
            username:   (( grab meta.cf.username ))
            password:   (( grab meta.cf.password ))
          loggregator:
            tls:
              ca_cert: (( vault meta.cf.exodus_path ":loggregator_ca" ))
              agent:
                cert: (( vault meta.cf.exodus_path ":loggregator_tls_agent_cert" ))
                key: (( vault meta.cf.exodus_path ":loggregator_tls_agent_key" ))
          rabbitmq_metrics_emitter:
            cloud_foundry:
              api:    (( grab meta.cf.api_url ))
              skip_ssl_validation: (( grab params.cf_skip_ssl_validation ))
              username:   (( vault meta.cf.exodus_path ":admin_username" ))
              password:   (( vault meta.cf.exodus_path ":admin_password" ))
            rmq_management:
              skip_ssl_validation: (( grab params.emitter_skip_ssl_validation || true ))
              mgmt_port: (( grab params.emitter_mgmt_port || "15671" ))
              mgmt_scheme: (( grab params.emitter_scheme || "https" ))
              mgmt_host: (( grab params.emitter_mgmt_host || "localhost" ))

          plans: (( grab params.rabbitmq_plans || meta.default.rabbitmq_plans ))
          service:
            id:          (( grab params.rabbitmq_service_id          || "rabbitmq" ))
            name:        (( grab params.rabbitmq_service_name        || params.rabbitmq_service_id || "rabbitmq" ))
            description: (( grab params.rabbitmq_service_description || "A dedicated RabbitMQ instance, deployed on-demand" ))
            tags:        (( grab params.rabbitmq_service_tags        || meta.default.rabbitmq_tags ))
            limit:       (( grab params.rabbitmq_service_limit       || 0 ))

