---
meta:
  environment: (( grab genesis.env || params.env ))
  bosh_env: (( grab genesis.bosh_env || params.bosh_env || params.env ))

  default:
    redis_tags:
      - blacksmith
      - dedicated
      - redis

    redis_plans:
      standalone:
        name: standalone
        description: A dedicated Redis server, with no redundancy or replication
        limit: 7
        type: standalone
        vm_type: default
      standalone-6:
        name: standalone-6
        description: A dedicated Redis 6 server, with no redundancy or replication
        limit: 7
        type: standalone-6
        vm_type: default

releases:
- name:    redis-forge
  version: 0.8.11
  url:     https://github.com/blacksmith-community/redis-forge-boshrelease/releases/download/v0.8.11/redis-forge-0.8.11.tgz
  sha1:    3cec4d60947dc4b915b6d5cd0b4495709c51fd0a

params:
  releases:
    - (( append ))
    - (( grab releases.redis-forge ))

instance_groups:
  - name: blacksmith
    jobs:
      - release: redis-forge
        name:    redis-blacksmith-plans
        properties:
          environment: (( grab meta.environment ))
          bosh_env: (( grab meta.bosh_env ))

          plans: (( grab params.redis_plans || meta.default.redis_plans ))
          service:
            id:          (( grab params.redis_service_id          || "redis" ))
            name:        (( grab params.redis_service_name        || params.redis_service_id || "redis" ))
            description: (( grab params.redis_service_description || "A dedicated Redis instance, deployed on-demand" ))
            tags:        (( grab params.redis_service_tags        || meta.default.redis_tags ))
            limit:       (( grab params.redis_service_limit       || 0 ))
