---
params:
  ip:            (( param "Please specify the static IP address for the Blacksmith Service Broker" ))
  cloud_config:  (( param "Please specify a complete BOSH v2 cloud-config, for the Blacksmith internal BOSH director to use" ))

  releases: []
  stemcells: []

meta:
  default:
    azs: [z1]
    host: (( grab params.fqdn || params.ip ))
    scheme: http
    blacksmith_port: (( grab params.blacksmith_port || 3000 ))

exodus:
  broker_url:      (( concat meta.default.scheme "://" meta.default.host ":" meta.default.blacksmith_port ))
  broker_username: (( grab instance_groups.blacksmith.jobs.blacksmith.properties.broker.username ))
  broker_password: (( grab instance_groups.blacksmith.jobs.blacksmith.properties.broker.password ))
  bosh_username:   (( grab instance_groups.blacksmith.jobs.blacksmith.properties.bosh.username ))
  bosh_password:   (( grab instance_groups.blacksmith.jobs.blacksmith.properties.bosh.password ))
  bosh_address:    (( grab instance_groups.blacksmith.jobs.blacksmith.properties.bosh.address ))
  bosh_cacert:     (( vault meta.vault "/tls/ca:certificate" ))

instance_groups:
  - name:      blacksmith
    instances: 1
    stemcell:  default
    azs:             (( grab params.availability_zones || meta.default.azs ))
    vm_type:         (( grab params.vm_type   || "blacksmith" ))
    disk_type:       (( grab params.disk_type || "blacksmith" ))
    networks:
      - name:       (( grab params.network || "blacksmith" ))
        static_ips: [(( grab params.ip ))]
    jobs:
      - release: blacksmith
        name:    blacksmith
        properties:
          debug: (( grab params.blacksmith_debug || false ))
          env:   (( grab params.blacksmith_env   || params.env || "blacksmith" ))
          shareable:  (( grab params.shareable || false ))

          broker:
            port:     (( grab params.blacksmith_port || 3000 ))
            username: blacksmith
            password: (( vault meta.vault "/broker:password" ))

          bosh:
            username: blacksmith
            password: (( vault meta.vault "/users/blacksmith:password" ))
            address:  (( concat "https://" params.ip ":25555" ))
            stemcells:    (( grab params.stemcells ))
            releases:     (( grab params.releases ))
            cloud-config: (( grab params.cloud_config ))
            network: (( grab params.network || "blacksmith" ))

          blacksmith_services_ca:
            tls:
              ca_cert: (( vault meta.vault "/broker/ca:certificate" ))

update:
  serial: false
  canaries: 1
  canary_watch_time: 30000-600000
  update_watch_time: 5000-600000
  max_in_flight: 1
  max_errors: 1

stemcells:
  - alias: default
    os:      (( grab params.stemcell_os      || "ubuntu-jammy"))
    version: (( grab params.stemcell_version || "latest" ))
