meta:
  blacksmith_tls_certificate: (( vault meta.vault "/broker/server:certificate" ))
  blacksmith_tls_key: (( vault meta.vault "/broker/server:key" ))
  scheme: https

instance_groups:
  - name: blacksmith
    jobs:
    - name: blacksmith
      properties:
        broker:
          port: (( grab params.blacksmith_port || 80 ))
          tls:
            enabled: true
            port: (( grab params.blacksmith_tls_port || 443 ))
            key: (( grab params.blacksmith_tls_key || meta.blacksmith_tls_key ))
            certificate: (( grab params.blacksmith_tls_certificate || meta.blacksmith_tls_certificate ))

