meta:
  blacksmith_tls_certificate: (( vault meta.vault "/broker/server:certificate" ))
  blacksmith_tls_key: (( vault meta.vault "/broker/server:key" ))
  scheme: https
  blacksmith_tls_port: (( grab params.blacksmith_tls_port || 443 ))
  blacksmith_port: (( grab params.blacksmith_port || 80 ))

instance_groups:
  - name: blacksmith
    jobs:
    - name: blacksmith
      properties:
        broker:
          port: (( grab meta.blacksmith_port ))
          tls:
            enabled: true
            port: (( grab meta.blacksmith_tls_port ))
            key: (( grab params.blacksmith_tls_key || meta.blacksmith_tls_key ))
            certificate: (( grab params.blacksmith_tls_certificate || meta.blacksmith_tls_certificate ))

