---
meta:
  shield:
    default_exodus: (( concat $GENESIS_EXODUS_MOUNT params.shield.deployment_env "/" params.shield.deployment_type ":" ))

    admin_username:  (( vault params.shield_exodus_path "admin_username" ))
    admin_password:  (( vault params.shield_exodus_path "admin_password" ))

    address:   (( vault params.shield_exodus_path "api_url" ))
    agent_ip:  (( vault params.shield_exodus_path "agent_ip" ))
    agent:     (( concat meta.shield.agent_ip ":5444" ))

params:
  shield_exodus_path: (( grab meta.shield.default_exodus ))

  shield_username: blacksmith
  shield_password: (( vault meta.vault "/shield:password" ))
  shield_tenant:   blacksmith
  shield_store:    (( vault meta.vault "/shield:store" ))

instance_groups:
  - name: blacksmith
    jobs:
      - name:    blacksmith
        release: blacksmith
        properties:
          shield:
            enabled: true
            address: (( grab params.shield_address || meta.shield.address ))
            agent: (( grab params.shield_agent || meta.shield.agent ))
            auth_method: local # Only local authentication method is supported for this kit feature.
            username: (( grab params.shield_username ))
            password: (( grab params.shield_password ))
            tenant: (( grab params.shield_tenant ))
            store:  (( grab params.shield_store ))
            schedule: (( grab params.shield_schedule || "" ))
            retain: (( grab params.shield_retain || "" ))
