---
meta:
  vsphere:
    ephemeral:  (( join "|" params.vsphere_ephemeral_datastores ))
    persistent: (( join "|" params.vsphere_persistent_datastores ))

params:
  vsphere_ephemeral_datastores:  (( param "Please specify your vSphere ephemeral datastore pattern" ))
  vsphere_persistent_datastores: (( param "Please specify your vSphere persistent datastore pattern" ))
  vsphere_clusters:              (( param "Please specify your vSphere clusters" ))
  vsphere_datacenter:            (( param "Please specify your vSphere Datacenter Name" ))

  stemcells:
    - name:    bosh-vsphere-esxi-ubuntu-trusty-go_agent
      version: '3468.17'
      url:     https://bosh.io/d/stemcells/bosh-vsphere-esxi-ubuntu-trusty-go_agent?v=3468.17
      sha1:    1691f18b9141ac59aec893a1e8437a7d68a88038

releases:
  - name:    bosh-vsphere-cpi
    version: '50'
    url:     https://bosh.io/d/github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release?v=50
    sha1:    27cad6e254f363ac06f947b4def3cbc7bfa269b9

instance_groups:
  - name: blacksmith
    jobs:
      - { release: bosh-vsphere-cpi, name: vsphere_cpi }

    properties:
      director:
        cpi_job: vsphere_cpi

      vcenter:
        address:  (( vault meta.vault "/vsphere:address"  ))
        user:     (( vault meta.vault "/vsphere:user"     ))
        password: (( vault meta.vault "/vsphere:password" ))

        datacenters:
          - name:     (( grab params.vsphere_datacenter ))
            clusters: (( grab params.vsphere_clusters   ))

            vm_folder:       (( concat params.env "-blacksmith/vms"       ))
            template_folder: (( concat params.env "-blacksmith/templates" ))
            disk_path:       (( concat params.env "-blacksmith/disks"     ))

            datastore_pattern:            (( concat "^(" meta.vsphere.ephemeral  ")$" ))
            persistent_datastore_pattern: (( concat "^(" meta.vsphere.persistent ")$" ))
